/* styles.css */

/* Style général pour le conteneur */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur totale de la vue */
}

/* Style pour le titre */
h1 {
    font-size: 3em; /* Taille de police plus grande */
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}
